<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.panjy.servicemetricsplatform.mapper.FirstCallSummaryMapper">
    
    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="org.panjy.servicemetricsplatform.entity.FirstCallSummary">
        <result column="colCltID" jdbcType="VARCHAR" property="colCltID" />
        <result column="first_call_date" jdbcType="TIMESTAMP" property="firstCallDate" />
        <result column="call_duration" jdbcType="INTEGER" property="callDuration" />
    </resultMap>
    
    <!-- 基础字段列表 -->
    <sql id="Base_Column_List">
        colCltID, first_call_date, call_duration
    </sql>
    
    <!-- 批量查询首通电话摘要记录 -->
    <select id="batchSelect" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List" />
        FROM aikang.tbl_first_call_summary
        WHERE colCltID IN
        <foreach collection="firstCallSummaries" item="item" open="(" separator="," close=")">
            #{item.colCltID,jdbcType=VARCHAR}
        </foreach>
    </select>
    
    <!-- 查询所有首通电话摘要记录 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List" />
        FROM aikang.tbl_first_call_summary
    </select>
    
</mapper>