<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.panjy.servicemetricsplatform.mapper.order.SalesCountMapper">

    <!-- 动态查询符合条件的销售人员个数 -->
    <select id="getSalesCount" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT to2.colEmpID)
        FROM aikang.tbl_Order to2 
        WHERE to2.colEmpID LIKE #{empIdPrefix}
    </select>

</mapper>