<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.panjy.servicemetricsplatform.mapper.WechatGroupMessageMapper">

    <select id="findActiveUsers" resultType="java.lang.String">
        SELECT DISTINCT sender
        FROM wechat_group_message w
        WHERE toDateTime(w.wechat_time/1000) &gt;= subtractDays(toDateTime(#{checkTime}), 3)
            AND toDateTime(w.wechat_time/1000) &lt;= #{checkTime}
            AND w.sender != ''
    </select>
    <select id="findUserServived" resultType="java.lang.String">
        SELECT w.sender AS wechat_id
        FROM wechat_group_message w
        WHERE toDate(w.wechat_time / 1000) BETWEEN toDate(#{checkTime}) AND addDays(toDate(#{checkTime}), #{days})
        GROUP BY w.sender
        HAVING COUNT(DISTINCT toDate(w.wechat_time / 1000)) = #{days};
    </select>

    <select id="findInactiveUsers" resultType="java.lang.String">
        SELECT t.wechat_id
        FROM (
                 -- 第一步：找到 startTime 当天活跃过的用户
                 SELECT DISTINCT wgm.wechat_id AS wechat_id
                 FROM wechat_group_message wgm
                 WHERE toDate(toDateTime(wgm.wechat_time / 1000))
                           BETWEEN toDate(#{startTime}) AND addDays(toDate(#{startTime}), 1)
             ) t
        WHERE t.wechat_id NOT IN (
            -- 第二步：排除 7 天内仍然活跃的用户
            SELECT u1.wechat_id
            FROM wechat_group_message u1
            WHERE toDateTime(u1.wechat_time / 1000) &lt;= addDays(toDateTime(#{startTime}), 7)
            GROUP BY u1.wechat_id
            HAVING MAX(toDate(toDateTime(u1.wechat_time / 1000))) &gt;= addDays(toDate(#{startTime}), 5)
        )
    </select>

</mapper>